.section {
  width: 100%;

  &-block1 {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

    &-head {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 20rem;

      &-sub {
        @include lato-700;
        font-weight: 600;
        font-size: 2.4rem;
        color: $text-dark;
        margin-bottom: 2rem;

        @media (max-width: 1000px) {
          font-size: 2rem;
        }

        @media (max-width: 636px) {
          text-align: center;
        }

        @media (max-width: 580px) {
          font-size: 1.5rem;
        }
      }
      &-inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 636px) {
          flex-direction: column;
        }

        &-title {
          @include lato-700;
          font-size: 5rem;
          color: $text-color;
          margin-right: 3rem;

          @media (max-width: 1440px) {
            font-size: 4.5rem;
          }

          @media (max-width: 1000px) {
            font-size: 4rem;
          }

          @media (max-width: 636px) {
            margin-right: 0;
            margin-bottom: 2rem;
          }
        }

        &-desc {
          @include lato-700;
          font-weight: 500;
          font-size: 2rem;
          color: $text-secondary;

          @media (max-width: 1440px) {
            font-size: 1.8rem;
          }

          @media (max-width: 1000px) {
            font-size: 1.5rem;
          }
        }
      }
    }

    &-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap;
      height: 90rem;

      @media (max-width: 1162px) {
        height: 70rem;
      }

      @media (max-width: 800px) {
        height: 60rem;
      }

      @media (max-width: 636px) {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &-1,
      &-2,
      &-3 {
        position: relative;

        &-num {
          font-size: 15rem;
          color: $text-color;
          position: absolute;
          top: -15%;
          left: 0;
          opacity: 0.2;

          @media (max-width: 1440px) {
            font-size: 13rem;
          }

          @media (max-width: 1000px) {
            font-size: 10rem;
          }

          @media (max-width: 580px) {
            font-size: 8rem;
          }
        }

        h3 {
          text-align: center;
          @include lato-700;
          font-size: 3rem;
          color: $text-dark;
          margin-bottom: 4rem;

          @media (max-width: 1440px) {
            font-size: 2.8rem;
            margin-bottom: 3.5rem;
          }

          @media (max-width: 1000px) {
            font-size: 2.3rem;
            margin-bottom: 3rem;
          }

          @media (max-width: 580px) {
            font-size: 2rem;
            margin-bottom: 2.4rem;
          }
        }

        &-desc {
          @include lato-400;
          font-display: 500px;
          font-size: 2rem;
          color: $text-secondary;
          margin-bottom: 4rem;

          @media (max-width: 1440px) {
            font-size: 1.8rem;
            margin-bottom: 3.5rem;
          }

          @media (max-width: 1000px) {
            font-size: 1.5rem;
            margin-bottom: 3rem;
          }

          @media (max-width: 580px) {
            font-size: 1.3rem;
            margin-bottom: 2.5rem;
          }
        }

        img {
          width: 100%;
          height: auto;
        }

        &:not(:last-child) {
          margin-bottom: 10rem;
        }
      }

      &-2 {
        align-self: flex-end;
        margin: 0 3rem;

        @media (max-width: 800px) {
          margin: 0 2rem;
        }

        @media (max-width: 636px) {
          margin: 0;
          align-self: center;
        }
      }
    }
  }

  &-block2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12rem;
    background-color: #245852;
    height: 80rem;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 0 3rem;

      @media (max-width: 800px) {
        margin: 3rem;
      }

      &-title {
        @include lato-700;
        font-size: 5rem;
        margin-bottom: 3.3rem;
        color: $text-white;

        @media (max-width: 1440px) {
          font-size: 4rem;
          margin-bottom: 3rem;
        }

        @media (max-width: 1000px) {
          font-size: 3rem;
          margin-bottom: 2.5rem;
        }

        @media (max-width: 580px) {
          font-size: 2rem;
          margin-bottom: 2rem;
        }
      }

      &-subtitle {
        @include lato-400;
        font-weight: 500;
        font-size: 2.5rem;
        margin-bottom: 5.7rem;
        color: $text-white;

        @media (max-width: 1440px) {
          font-size: 2rem;
          margin-bottom: 4.7rem;
        }

        @media (max-width: 1000px) {
          font-size: 1.7rem;
          margin-bottom: 3.7rem;
        }

        @media (max-width: 580px) {
          font-size: 1.3rem;
          margin-bottom: 2.7rem;
        }
      }

      .form-btn {
        @include lato-400;
        font-size: 2rem;
        background-color: $button-color;
        padding: 2rem 5rem;
        color: $text-white;
        border-radius: 1rem;
        outline: none;
        border: 1px solid $button-color;

        &:hover {
          box-shadow: 0 0 4px 4px $button-color;
        }

        &:active {
          box-shadow: 0 0 7px 7px $button-color;
        }
      }
    }

    iframe {
      @media (max-width: 1000px) {
        width: 450px;
        height: 252px;
      }
      @media (max-width: 470px) {
        width: 350px;
        height: 196px;
      }

      @media (max-width: 360px) {
        width: 280px;
        height: 157px;
      }
    }
  }

  &-block3 {
    margin: auto;
    width: 80%;
    position: relative;
    margin-bottom: 10rem;

    &-wraper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      @media (max-width: 800px) {
        flex-direction: column;
      }

      &-img {
        margin: 0 8.6rem 7.4rem 6rem;
        position: relative;

        .big-photo {
          max-width: 57rem;
          width: 100%;
          height: auto;
        }

        &-bio {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          z-index: 2;
          bottom: 0;
          left: 0;
          transform: translate(-25%, 40%);
          padding: 2.26rem 5.5rem 3rem 6rem;
          box-shadow: 0 0 10px 0 rgb(192, 192, 192);
          background-color: #fff;

          @media (max-width: 1440px) {
            padding: 2rem 5rem 2.5rem 5rem;
          }

          @media (max-width: 1000px) {
            padding: 1.3rem 3rem 2rem 3rem;
          }

          @media (max-width: 580px) {
            display: none;
          }

          &-headline {
            @include lato-700;
            font-size: 1.5rem;
            margin-bottom: 0.7rem;
          }

          hr {
            width: 40%;
            margin-bottom: 1rem;
          }

          img {
            width: 5.7em;
            height: 5.7rem;
            border-radius: 50%;
            margin-bottom: 1rem;
          }

          &-name {
            @include lato-400;
            font-size: 1.2rem;
            margin-bottom: 2rem;
          }

          &-title {
            @include lato-700;
            font-size: 1.6rem;
          }

          &-desc {
            margin-top: 1rem;
            list-style-position: inside;
          }
        }
      }

      &-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &-subtitle {
          @include lato-700;
          font-size: 2.5rem;
          margin-bottom: 1.5rem;

          @media (max-width: 1440px) {
            font-size: 2.3rem;
          }

          @media (max-width: 1000px) {
            font-size: 2rem;
          }

          @media (max-width: 800px) {
            margin-top: 7rem;
          }

          @media (max-width: 580px) {
            font-size: 1.7rem;
            margin-top: 1rem;
          }
        }

        &-title {
          @include lato-700;
          font-size: 5rem;
          color: $text-color;
          margin-bottom: 2rem;

          @media (max-width: 1440px) {
            font-size: 2rem;
            margin-bottom: 4.7rem;
          }

          @media (max-width: 1000px) {
            font-size: 1.7rem;
            margin-bottom: 3.7rem;
          }

          @media (max-width: 580px) {
            font-size: 1.3rem;
            margin-bottom: 2.7rem;
          }
        }

        &-desc {
          @include lato-400;
          font-size: 2rem;
          color: $text-secondary;
          margin-bottom: 4rem;

          @media (max-width: 1440px) {
            font-size: 2rem;
            margin-bottom: 4.7rem;
          }

          @media (max-width: 1000px) {
            font-size: 1.7rem;
            margin-bottom: 3.7rem;
          }

          @media (max-width: 580px) {
            font-size: 1.3rem;
            margin-bottom: 2.7rem;
          }
        }

        .block3-btn {
          @include lato-400;
          font-size: 2rem;
          color: $text-white;
          background-color: $button-color;
          width: 21rem;
          height: 6rem;
          border-radius: 1rem;
          outline: none;
          border: 1px solid $button-color;

          @media (max-width: 1000px) {
            width: 17rem;
            height: 5rem;
            font-size: 1.7rem;
          }

          @media (max-width: 580px) {
            width: 14rem;
            height: 4rem;
            font-size: 1.5rem;
          }

          &:hover {
            box-shadow: 0 0 4px 4px $button-color;
          }

          &:active {
            box-shadow: 0 0 7px 7px $button-color;
          }
        }
      }
    }
  }
}
